<h2><%= flash[:notice] %></h2>
<% @plants.each do |plant| %>
    <div>Plant Name: <%= link_to plant.name, plant %></div><br>
    <div><img src="<%= plant.image %>" width=40%></div><br>
    <div>Description: <%= plant.description%></div><br>
    <div>Price: $<%= plant.price %></div><br>
    <div>Light Instructions: <%= plant.light_instructions %></div><br>
    <div>Watering Instructions: <%= plant.water_instructions %></div><br>
    <div>Other Instructions: <%= plant.other_instructions %></div><br>

    <% if plant.user_id == current_user.id %>
        <div><%= button_to "Edit Listing", edit_plant_path(plant.id), method: :get %></div>
        <div><%= button_to "Delete Listing", "/plants/delete", method: :delete %></div>
    <% else %>
        <div><%= button_to "Add to Cart", add_to_carts_path(current_user), method: "put", params: {plant_id: plant.id} %></div>
        <div><%= button_to "Remove From Cart", orders_path %></div>
    <% end %>
    <br><br>
<% end %>