<div>Plant Name: <%= @plant.name%></div><br>
<div>Description: <%= @plant.description%></div><br>
<div>Price: $<%= @plant.price %></div><br>
<div>Light Instructions: <%= @plant.light_instructions %></div><br>
<div>Watering Instructions: <%= @plant.water_instructions %></div><br>
<div>Other Instructions: <%= @plant.other_instructions %></div><br>

<div><img src="<%= @plant.image %>" width=40%></div><br>
